<!-- Benjamin Andrew, CSD340 Module 10 CSS file. -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Andrew Module 10 CSS</title>
<style type="text/css">

body {
   font: 20px Times New Roman;
   line-height: 1.8;
   color: #f5f6f7;
}

.main_content {
   width: 90%;
   margin: 0 auto;
}

.main_image {
   width: 50%;
   height: 50%;
}

.main_image img {
  width: 100%;
   float: left;
}

.all_image img {
    width: 350px;
    height: 250px;
    float: left;
    padding: 3px;
}

div.text {
  position: absolute;
  top: 785px;
  left: 135px;
  width: 620px;
  height: 60px;
  border: 3px solid purple;
  font-size: 26px;
}

.address {
  position: absolute;
  top: 780px;
  left: 1154px;
  width: 120px;
  height: 40px;
  font-size: 26px;
}


</style>