<!-- Benjamin Andrew, CSD340 Module 4.2 CSS file -->
<!DOCTYPE html>
<html>
<head>
<title>Andrew Module 4 CSS</title>
</head>
<style type="text/css">
#image-gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 10%
}

h1 {
    text-align: center;
    color: rgba(65, 23, 217, 1);
    }
h3 {
    text-align: center;
    color: rgba(65, 23, 217, 1);
    }
.column1of3, .column2of3, .column3of3 {
    width: 300px;
    float: left;
    margin: 50px;
    border: 3px solid purple;
    }
.underDiv {
    position: absolute;
    top: 500px;
    left: 1150px;
    border: 3px solid red;
    }
figure {
    text-align: center;
    }
figcaption {
    font-style: italic;
    font-size: .75em
    color: rgba(65, 23, 217, 1);
    }
</style>